[submodule "Carthage/Checkouts/JSQMessagesViewController"]
	url = https://github.com/jessesquires/JSQMessagesViewController.git
[submodule "JSQMessagesViewController"]
	path = JSQMessagesViewController
	url = git@github.com:jessesquires/JSQMessagesViewController.git
